  #tableContainer {
      overflow-x: auto;
      overflow-y: auto;
      max-height: 500px;
      /* Adjust this value according to your needs */
  }

  table {
      table-layout: fixed;
      width: 100%;
      font-size: 0.5em;
  }

  th,
  td {
      word-wrap: break-word;
  }

  th {
      position: sticky;
      top: 0;
      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
      /* This adds a slight shadow to the header */
  }

  th::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      /* This sets the background color of the header */
      z-index: -1;
      /* This ensures the content of the cell is not obscured */
  }