<nav class="navbar navbar-expand-lg navbar-light bg-light mt-4 m-xl-5">
  <div class="container container-fluid">
    <a class="navbar-brand" href="/home">
      <img
        src="../img/ISI Technology.png"
        alt="ISI Technology logo"
        class="custom-logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <span
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Casos
          </span>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/crearCaso">Crear</a></li>
            <!-- <li><a class="dropdown-item" href="#">Buscar</a></li> -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <span
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Clientes
          </span>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/crearCliente">Crear</a></li>
            <!-- <li><a class="dropdown-item" href="#">Buscar</a></li> -->
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="container container-fluid justify-content-end">
    <div class="btn-group">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <span
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Hola, &nbsp;<span id="user-name"></span>
          </span>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item">
              <button id="btnCambiarClaveMenu" class="dropdown-item" type="button">Cambiar contraseña</button>
            </li>
            <li class="nav-item">
              <button id="close-session" class="dropdown-item" type="button">Cerrar sesión</button>
            </li>
          </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
